:root{
    --font-family-sans-serif: "Montserrat", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    text-align: left;
    background-color: #ECF3F9;
}
.container-fluid.nav-bar,
.nav-bar.container-lg,
.nav-bar.container-md,
.nav-bar.container-sm,
.nav-bar.container-xl {
    position: absolute;
    z-index: 9;
}
@media (max-width: 991.98px) {
    .container-fluid.nav-bar,
    .nav-bar.container-lg,
    .nav-bar.container-md,
    .nav-bar.container-sm,
    .nav-bar.container-xl {
        position: relative;
        background: #111;
    }
}




.navbar-sobre{
    background: transparent;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #DED8BD;
}
.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
.element::-webkit-scrollbar {
height: 0px !important;
background-color: #2596be !important;
border-radius: 4px;
width: 3px;
}

.element:hover::-webkit-scrollbar {
height: 8px !important;
}

.element::-webkit-scrollbar-track {
background: transparent !important;
}

.element::-webkit-scrollbar-thumb {
background-color: #2596be !important;
border-radius: 4px;
}

.imagem_treino{
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #000;
    box-shadow: rgb(0 0 0 / 30%) 0px 7px 32px 10px, rgb(0 0 0 / 30%) 0px 6px 20px 4px;
}


.texto_progfit{
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    letter-spacing: 2px;
}
.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-body {
    padding: 20px;
    text-align: center;
}

.time {
    padding: 50px;
    text-align: center;
}

.descricao_gustavo,
.descricao_alexandre {
    margin-top: 20px;
}

@media(min-width: 1080px){

    .background{
        display: flex;
    }
    .container_cards_inicio_site{
        margin-top: -230px;
    }
    .titulo_card_inicio_site{
        font-size: 25px;
    }
    .subtitulo_card_inicio_site{
        font-size: 25px;
    }
    .card_inicio_site_um{
        width: 32rem;
        height: 30rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .card_inicio_site_dois{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
        color: #000000;
    }
    .card_inicio_site_tres{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .card_inicio_site_quatro{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .img_card_inicio_site{
        width: 50px;
    }
    .titulo-sobre{
        font-size: 65px;
        margin-bottom: 40px;
    }
    .container_sobre{
        padding: 10%;
    }
    .botao_ir_para_topo{
        position: fixed;
        bottom: 30px;
        left: 95%;
        z-index: 11;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;
        background-color: #DED8BD;
        color: #000;
    }
    .personalizacao h1,
    .flexibilidade h1,
    .acompanhamento h1 {
        font-size: 45px;
        color: #fff;
        text-align: center;
    }
    .personalizacao h2,
    .flexibilidade h2,
    .acompanhamento h2 {
        color: #fff;
        text-align: center;
    }
}
@media (max-width: 450px) {
    .background{
        flex-direction: column;
    }
    .container_cards_inicio_site{
        margin-top: 30px;
    }
    .titulo_maior_card_inicio_site{
        font-size: 45px;
    }
    .titulo_card_inicio_site{
        font-size: 25px;
    }
    .subtitulo_card_inicio_site{
        font-size: 25px;
    }
    .card_inicio_site_um{
        margin-bottom: 20px;
    }
    .card_inicio_site_dois{

        margin-bottom: 20px;
    }
    .card_inicio_site_tres{

        margin-bottom: 20px;
    }
    .card_inicio_site_quatro{
        margin-bottom: 20px;
    }
    .img_card_inicio_site{
        width: 40px;
    }
    .personalizacao h1,
    .flexibilidade h1,
    .acompanhamento h1 {
        font-size: 33px;
        color: #fff;
        text-align: center;
    }
    .personalizacao h2,
    .flexibilidade h2,
    .acompanhamento h2 {
        font-size: 22px;
        color: #fff;
        text-align: center;
    }
    .container_sobre{
        padding: 3%;
        margin-top: 20px;
    }
    .container_sobre h2{
        font-size: 25px;
    }
    .botao_ir_para_topo{
        position: fixed;
        bottom: 30px;
        left: 85%;
        z-index: 11;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;
        background-color: #DED8BD;
        color: #000;
    }
    .texto_sobre{
        font-size: 25px;
    }
    .card_como_comecar_numero_um h2, .card_como_comecar_numero_dois h2, .card_como_comecar_numero_tres h2{
        font-size: 20px;
    }

}
@media (min-width: 768px){
    .container_cards_inicio_site{
        margin-top: -100px;
    }
    .background{
        display: flex;
    }

    .titulo_card_inicio_site{
        font-size: 20px;
    }
    .subtitulo_card_inicio_site{
        font-size: 20px;
    }
    .card_inicio_site_um{
        width: 32rem;
        height: 30rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .card_inicio_site_dois{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
        color: #000000;
    }
    .card_inicio_site_tres{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .card_inicio_site_quatro{
        width: 18rem;
        height: 22rem;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 25px;
    }
    .img_card_inicio_site{
        width: 50px;
    }
    .titulo-sobre{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .container_sobre{
        padding: 10%;
    }
    .botao_ir_para_topo{
        position: fixed;
        bottom: 30px;
        left: 95%;
        z-index: 11;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;
        background-color: #DED8BD;
        color: #000;
    }
    .personalizacao h1,
    .flexibilidade h1,
    .acompanhamento h1 {
        font-size: 30px;
        color: #fff;
        text-align: center;
    }
    .personalizacao h2,
    .flexibilidade h2,
    .acompanhamento h2 {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    .card_como_comecar_numero_um, .card_como_comecar_numero_dois, .card_como_comecar_numero_tres{
        height: 35rem;
    }
    .card_como_comecar_numero_um h2, .card_como_comecar_numero_dois h2, .card_como_comecar_numero_tres h2{
        font-size: 20px;
    }
    .conteudos_meio_site{
        background: #0000;
    }
    .texto_sobre{
        font-size: 30px;
    }
}

.card-body h1,
.card-body h3 {
    margin: 0;
}
.card_como_comecar_numero_um, .card_como_comecar_numero_dois, .card_como_comecar_numero_tres{
    border-radius: 16px;
}
.cor_dourado_site{
    color:#DED8BD;
}
.background_cards{
    background-color: #000000;
}
.conteudos_meio_site {
    margin-top: 20px;
}

.footer,
.page-header,
.subscribe {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/imagem_inicial_do_site.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-outline-primary {
    color: #fff;
    border-color: #071332;
    background-color: #071332;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 30%) 0px 15px 12px;
}
.btn-outline-primary:hover {
    color: #071332;
    background-color: #fff;
    border-color: #071332;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #fff;
    background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #071332;
    border-color: #071332;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1);
}


